.DS_Store
Thumbs.db
*.log
.env
.env.backup
.env.production
.env.local
.env.example

.vscode/
!.vscode/extensions.json
.idea/
*.suo
*.sln
*.sw?

backend/vendor/
backend/bootstrap/cache/
backend/public/build/
backend/public/hot/
backend/public/storage
backend/storage/*.key
backend/storage/pail
backend/Homestead.json
backend/Homestead.yaml

web-customer/node_modules/
web-customer/dist/
web-customer/dist-ssr/

mobile-driver/node_modules/
mobile-driver/android/.gradle/
mobile-driver/android/build/
mobile-driver/android/local.properties
mobile-driver/android/*.keystore
!mobile-driver/android/debug.keystore
mobile-driver/ios/Pods/
mobile-driver/ios/build/
mobile-driver/ios/DerivedData/
mobile-driver/ios/*.xccheckout
mobile-driver/*.jsbundle
mobile-driver/coverage/
